
<section class="top-home">
	<a href="/search">
		<div class="top-home-search">输入书名/作者/关键字</div>
	</a> <!-- 搜索 -->
	<div class="top-preview">
		<div>
			<a href="http://dushu.xiaomi.com/#page=channel&id=410"></a>
			<img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01tBqnupVze/qayTXiXrMm1lVm.jpg"/>
		</div>
	</div>
	<ul class="top-home-btn">
		<li>
			<a href="/male">
				<img class="top-home-btn-icon" src="/static/images/male.png">
				<p>男生</p>
			</a>
		</li>
		<li>
			<a href="/female">
				<img class="top-home-btn-icon" src="/static/images/female.png">
				<p>女生</p>
			</a>
		</li>
		<li>
			<a href="/category">
				<img class="top-home-btn-icon" src="/static/images/category.png">
				<p>分类</p>
			</a>
		</li>
		<li>
			<a href="/female">
				<img class="top-home-btn-icon" src="/static/images/rank.png">
				<p>排行</p>
			</a>
		</li>
	</ul>
</section>